/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
  .logo {
    text-align: center;
  }
  .mg {
    margin: 0px 0px;
  }
  .megamenu > .row [class*="col-"] {
    padding: 0px;
  }


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {

  .megamenu > .row [class*="col-"] {
    padding: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header_section {
    padding: 0px;
    background-size: cover;
  }
  .banner_text {
    width: 100%;
  }
  .about_taital_main {
    padding-left: 25px;
    padding-top: 40px;
  }
  .footer_section {
    padding-top: 270px;
    background-size: cover;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header_section {
    padding: 0px;
    background-size: cover;
  }
  .banner_text {
    width: 100%;
  }
  .about_taital_main {
    padding-left: 25px;
    padding-top: 0px;
  }
  .about_text {
    padding-top: 0px;
    font-size: 14px;
  }
  .readmore_bt {
    margin-top: 30px;
  }
  .footer_section {
    padding-top: 230px;
    background-size: cover;
    padding-bottom: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .header_section {
    background-image: url(../images/mobile-bg.png);
    background-size: cover;
    padding: 0px;
  }
  .navbar-toggler {
    background-color: #ffffff;
  }
  .logo {
    display: none;
  }
  .menu_main {
    display: none;
  }
  .mobile_menu {
    display: initial;
  }
  .banner_taital {
    font-size: 50px;
  }
  .bg-light {
    background-color: transparent !important;
  }
  .header_main {
    padding: 0px;
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #ffffff;
    background: red;
  }
  .banner_text {
    width: 100%;
  }
  .banner_section {
    padding: 50px 0px;
  }
  .services_section {
    padding: 50px 0px;
  }
  .about_section {
    padding: 50px 0px;
  }
  .about_taital_main {
    padding-top: 0px;
    padding-left: 0px;
  }
  .about_text {
    font-size: 15px;
  }
  .padding_right_0 {
    padding-right: 15px;
  }
  .choose_taital {
    font-size: 30px;
  }
  .footer_section {
    background-image: url(../images/footer-mobile-bg.png);
    background-size: cover;
    padding: 50px 0px;
  }

  .contact_taital {
    font-size: 30px;
  }
  .email_text {
    width: 100%;
    padding-top: 90px;
  }
}

@media (max-width: 575px) {
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
  }
  #main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
  }
  #main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
  }
  .header_section {
    background-image: url(/src/images/banner-bg.png);
    background-size: cover;
    padding: 0px;
  }
  .navbar-toggler {
    background-color: #ffffff;
  }
  .logo {
    display: none;
  }
  .menu_main {
    display: none;
  }
  .logo_mobile {
    width: 40%;
    padding: 0px;
  }
  .mobile_menu {
    display: initial;
  }
  .banner_taital {
    font-size: 50px;
  }
  .bg-light {
    background-color: transparent !important;
  }
  .header_main {
    padding: 0px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: black;
    text-align: center;
    background: transparent;
    width: 100%;
    margin: 10px 0px;
    border-radius: 30px;
  }
  .nav-item {
    position: relative;
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
  }
  .banner_text {
    width: 100%;
  }
  .banner_section {
    padding: 50px 0px;
  }
  .services_section {
    padding: 50px 0px;
  }
  .services_section_2 {
    margin-top: 30px;
  }
  .services_img {
    margin-top: 40px;
  }
  .about_section {
    padding: 50px 0px;
  }
  .about_taital_main {
    padding-top: 0px;
    padding-left: 0px;
  }
  .about_text {
    font-size: 15px;
  }
  .padding_right_0 {
    padding-right: 15px;
  }
  .blog_text {
    width: 100%;
  }
  .play_icon_main {
    margin-top: 40px;
  }
  .play_icon {
    width: 145px;
  }
  .client_section_2 {
    padding: 30px 20px;
    margin-top: 50px;
  }
  .client_main {
    display: inherit;
  }
  .box_left {
    width: 100%;
  }
  .lorem_text {
    padding: 30px 10px;
    font-size: 15px;
  }
  .box_right {
    width: 100%;
  }
  .client_name {
    padding-top: 25px;
  }
  .client_taital_right {
    padding-left: 20px;
  }
  .choose_taital {
    font-size: 30px;
  }
  .choose_section {
    padding: 50px 0px;
  }
  .choose_text {
    width: 100%;
    font-size: 15px;
  }
  .newsletter_box {
    display: initial;
  }
  .let_text {
    font-size: 30px;
    text-align: center;
  }
  .getquote_bt {
    margin: 0 auto;
  }
  .footer_section {
    background-image: url(../images/footer-mobile-bg.png);
    background-size: cover;
    padding: 50px 0px;
  }
  .input_btn_main {
    width: 100%;
    display: inherit;
    background-color: transparent !important;
  }
  .subscribe_bt {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    float: initial;
  }
  .subscribe_bt a {
    width: 100%;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 40px;
    margin-bottom: 50px;
  }
  .subscribe_bt a:hover {
    color: #000;
    background-color: #ffffff;
  }
  .social_icon {
    display: inline-block;
  }
  .contact_taital {
    font-size: 28px;
  }
  .email_text {
    width: 100%;
    padding-top: 90px;
  }
}
