/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@font-face {
  font-family: "Righteous";
  src: url("../fonts/BalooChettan-Regular.ttf");
  src: url("../fonts/BalooChettan-Regular.ttf");
}
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.padding_0 {
  padding: 0px;
}

/* header section start */

.header_section {
  width: 100%;
  float: left;
  background-image: url(../images/banner-bg.png);
  height: auto;
  background-size: 100%;
  padding: 0px 0px 20px 0px;
}

.bg-light {
  background-color: transparent !important;
}

.logo {
  width: 100%;
  float: left;
  text-align: center;
  padding: 3px;
}

.logo_mobile {
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 20px;
}

.mobile_menu {
  width: 100%;
  float: left;
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-nav {
  align-items: center;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-item {
  position: relative;
}

.menu_main {
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.menu_main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
}

.menu_main li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-radius: 40px;
}

.menu_main li a {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00000054;
}

.menu_main li a:hover {
  color: #ffffff;
  background-color: #1f4021;
}

.header_main {
  width: 100%;
  background-image: url(../images/header-bg.png);
  background-size: 100%;
  padding: 10px 0px 0px 0px;
}

/* header section end */

/* banner section start */

.banner_section {
  width: 100%;
  float: left;
  padding-bottom: 305px;
  padding: 100px 0px;
}

.banner_taital {
  width: 100%;
  float: left;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Righteous", Regular;
}

.banner_text {
  width: 63%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.read_bt {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.read_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #141414;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  margin-top: 50px;
  font-weight: 400;
}

.read_bt a:hover {
  background-color: #1f4021;
  color: #ffffff;
}

/* banner section end */

/* services section start */

.cities_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}

.cities_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #1f1f1f;
  font-weight: bold;
}

.cities_text {
  width: 100%;
  float: left;
  font-size: 1.2rem;
  color: #1f1f1f;
  margin: 0px;
  padding-bottom: 0.5rem;
}

.cities_section_2 {
  width: 100%;
  float: left;
  margin-top: 90px;
}

.cities_img {
  width: 100%;
  float: left;
  text-align: center;
}

.btn_main {
  width: 170px;
  margin: 0 auto;
  text-align: center;
}

.btn_main a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #000d10;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 40px;
  text-transform: uppercase;
}

.btn_main a:hover {
  color: #ffffff;
  background-color: #1f4021;
}

.btn_main.active a {
  color: #ffffff;
  background-color: #000d10;
}

/* services section end */

/* about section start */

.about_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}

.about_taital_main {
  width: 100%;
  padding-left: 1em;
  padding-top:0;
}

.padding_right_0 {
  padding-right: 1em;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #1f1f1f;
  font-weight: bold;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 1.2rem;
  color: #1f1f1f;
  margin: 0px;
  padding-bottom: 0.5em;
}

.readmore_bt {
  width: 170px;
  float: left;
  margin-top: 50px;
}

.readmore_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #000d10;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.readmore_bt a:hover {
  color: #ffffff;
  background-color: #1f4021;
}

.about_img {
  width: 100%;
  float: left;
}

/* contact section end */

/* contact section start */

.contact_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.contact_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #363636;
  text-align: center;
  font-weight: bold;
}
.email_text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
.email-bt {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #393838;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 0px;
  border: 1px solid #2b2278 !important;
}
.massage-bt {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #393838;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 0px;
  border: 1px solid #2b2278 !important;
}
.send_btn {
  width: 170px;
  margin: 0 auto;
  text-align: center;
}
.send_btn a {
  width: 100%;
  float: right;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  border-radius: 30px;
  background-color: #000d10;
  padding: 7px;
}
.send_btn a:hover {
  color: #ffffff;
  background-color: #1f4021;
}
/* contact section end */

/* footer section start */

.footer_section {
  width: 100%;
  float: left;
  background-color: #1f4021;
  height: auto;
  padding-top: 20px;
  background-size: 100% 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* footer section end */

/* Pop-up styles */

/* Add this to your CSS or styled-components */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
}

.popup-heading {
  font-size: 1rem;
  color: black;
  margin-top: 50px;
}

.popup-content {
  text-align: center;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-close {
  background-color: #c1c1c1;
  color: #000000;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
}

/* Style the close button */
.popup-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 30px;
  margin-top: 10px;
}

.popup-button:hover {
  background-color: #4617d1;
}
