/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

section {
  padding-top: 90px;
  padding-bottom: 0px;
}

.padding_0 {
  padding: 0px;
}

/* header section start */

.header {
  width: 100%;
  float: left;
  background-image: url(../images/banner-bg.webp);
  height: auto;
  background-size: 100%;
  padding: 0px 0px 20px 0px;
}

.logo {
  width: 100%;
  float: left;
  text-align: center;
  padding: 3px;
}

.mobile--menu {
  width: 100%;
  float: left;
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-nav {
  align-items: center;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-item {
  position: relative;
}

.menu {
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
}

.menu li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-radius: 40px;
}

.menu li a {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00000054;
}

.menu li a:hover {
  color: #ffffff;
  background-color: #1f4021;
}

/* header section end */

/* banner section start */

.banner--section{
  width: 100%;
  float: left;
  padding-bottom: 305px;
  padding: 100px 0px;
}

.banner--title {
  width: 100%;
  float: left;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Righteous", Regular;
}

.banner--text {
  width: 63%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.read--button {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.read--button a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #141414;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  margin-top: 50px;
  font-weight: 400;
}

.read--button a:hover {
  background-color: #1f4021;
  color: #ffffff;
}

/* banner section end */

/* services section start */

.cities--section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}

.cities--title {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #1f1f1f;
  font-weight: bold;
}

.cities--text {
  width: 100%;
  float: left;
  font-size: 1.2rem;
  color: #1f1f1f;
  margin: 0px;
  padding-bottom: 0.5rem;
}

.cities--section-2 {
  width: 100%;
  float: left;
  margin-top: 90px;
}

.cities_img {
  width: 100%;
  float: left;
  text-align: center;
}

.city--button {
  width: 170px;
  margin: 0 auto;
  text-align: center;
}

.city--button a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #000d10;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 40px;
  text-transform: uppercase;
}

.city--button a:hover {
  color: #ffffff;
  background-color: #1f4021;
}

.city--button.active a {
  color: #ffffff;
  background-color: #000d10;
}

/* services section end */

/* about section start */

.about--section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}

.about--title-main {
  width: 100%;
  padding-left: 1em;
  padding-top: 0;
}

.about--title{
  width: 100%;
  float: left;
  font-size: 40px;
  color: #1f1f1f;
  font-weight: bold;
}

.about--text {
  width: 100%;
  float: left;
  font-size: 1.2rem;
  color: #1f1f1f;
  margin: 0px;
  padding-bottom: 0.5em;
}

.readmore_bt {
  width: 170px;
  float: left;
  margin-top: 50px;
}

.readmore_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #000d10;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.readmore_bt a:hover {
  color: #ffffff;
  background-color: #1f4021;
}

.about--img {
  width: 100%;
  float: left;
}

/* contact section start */

.tips--section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.contact--title {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #363636;
  text-align: center;
  font-weight: bold;
}
.email--text{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
.form-field {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #393838;
  margin-top: 20px;
  padding: 10px 15px;
  border: 0px;
  border: 1px solid #2b2278 !important;
}
.massage-bt {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #393838;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 0px;
  border: 1px solid #2b2278 !important;
}
.send--button {
  width: 170px;
  margin: 0 auto;
  text-align: center;
}
.send--button a {
  width: 100%;
  float: right;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  border-radius: 30px;
  background-color: #000d10;
  padding: 7px;
}
.send--button a:hover {
  color: #ffffff;
  background-color: #1f4021;
}
/* contact section end */

/* footer section start */

.footer {
  width: 100%;
  float: left;
  background-color: #1f4021;
  height: auto;
  padding-top: 20px;
  background-size: 100% 100%;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* footer section end */

/* Pop-up styles */

/* Add this to your CSS or styled-components */
.popup-container {
  position: fixed;
  top: 75%;
  right: -10%;
  max-width: 300px;
  transform: translate(-50%, -50%);
  background-color: #1f4021;
  border: 1px solid #1f4021;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
}

.popup-heading {
  font-size: 1rem;
  color: rgb(246, 246, 246);
  margin-top: 50px;
}

.popup-content {
  text-align: center;
  color: white;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-close {
  background-color: #c8c8c8eb;
  color: #000000;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
}

/* Style the close button */
.popup-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 30px;
  margin-top: 10px;
}

.popup-button:hover {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    background-color: #1f4021;
    border: 1px solid #1f4021;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    font-size: 0.8rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Place the overlay behind the popup */
  }
  .popup-heading {
    font-size: 0.8rem;
    color: rgb(246, 246, 246);
    margin-top: 50px;
  }
}

.message {
  margin-bottom: 30px;
  padding: 20px;
  text-align: left;
}
.message.success {
  background-color: #cdff85;
}
.message.warning {
  background-color: #ffff85;
}

.field-error {
  color: #b50000;
  text-align: right;
  font-size: 12px;
}
